body {
  margin: 0;
}

.header > img {
  width: 100%;
}

.about > h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 50px;
  color: #807094;
}

.about > i {
  font-size: 16px;
  float: right;
}

.message {
  width: 33%;
  margin: auto; 
}

.mine {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.message > img {
  border-radius: 50%;
}

#titile {
  margin-top: 25px;
  color: #F2798D;
}

#content {
  margin-top: 15px;
  color: #807094;
}

#content >a {
  text-decoration: none;
  color: #807094;
}

.message > h1 {
  font-size: 16px;
  color: #F2798D;
 }

.message > p {
  color: #807094;
  margin: 25px 0px;
}

.icon{
  display: flex;
  justify-content: space-around;
}

.icon > img {
  width: 64px;
  height: 64px;
}

.edu-exp {
  background-color: #F397A4;

}

.edu-exp > h1 {
  padding-top: 50px;
  text-align: center;
 }

.skills > h1 {
  color: #4F3E5A;
  text-align: center;
  padding-top: 50px;
  margin-top: 0px;
 }

.percentage {
  width: 33%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.percentage > div {
  position: relative;
}

.strong {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #615679;
}

.percentage > div > h1 {
  font-size: 20px;
  color: #E46E74;
  margin-bottom: 0px;
}

.percentage > div > p {
  margin-top: 10px;
  color: #615679;
}

.abilities {
  background-color: #807094;
  color: #F6FCFB;
}

.abilities > h1 {
  padding-top: 50px;
  margin-top: 0px;
  text-align: center;
}

.abli-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.social {
  background-color: #807094;
  color: #F6FCFB;
}

.social > h1 {
  margin-top: 0px;
  padding-top: 50px;
  text-align: center;
}