body {
  margin: 0;
}

.fp-tableCell > a:first-child {
  top: 100px;
  left: 90px;
  position: absolute;
  padding: 0 15px;
  border: solid 2px #eee;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  transition: all .5s ease;
  float: left;
  line-height: 40px;
}

.about > h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  color: #807094;
}

.about > i {
  font-size: 16px;
  float: right;
}

.message {
  width: 33%;
  margin: auto; 
}

.mine {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.message > img {
  border-radius: 50%;
}

#titile {
  margin-top: 25px;
  color: #F2798D;
}

#content {
  margin-top: 15px;
  color: #807094;
}

#content >a {
  text-decoration: none;
  color: #807094;
}

.message > h1 {
  font-size: 16px;
  color: #F2798D;
 }

.message > p {
  color: #807094;
  margin: 25px 0px;
}

.icon{
  display: flex;
  justify-content: space-around;
}

.icon > img {
  width: 64px;
  height: 64px;
}

.edu-exp {
  background-color: #7594C3;
}

.edu-exp > h1 {
  text-align: center;
  color: #F6FCFB;
 }

.skills > h1 {
  color: #807094;
  text-align: center;
/*  padding-top: 50px;
  margin-top: 0px;
*/ }

.percentage {
  width: 33%;
  margin: 0 auto 25px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.percentage > div {
  position: relative;
}

.strong {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #615679;
}

.percentage > div > h1 {
  font-size: 20px;
  color: #E46E74;
  margin-bottom: 0px;
}

.percentage > div > p {
  margin-top: 10px;
  color: #615679;
}

.abilities {
  background-color: #F397A4;
  color: #F6FCFB;
}

.abilities > h1 {
/*  padding-top: 50px;
  margin-top: 0px;
*/  text-align: center;
}

.abli-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.portfoil {
  background-color: #807094;
  color: #F6FCFB;
}

.portfoil > h1 {
/*  margin-top: 0px;
  padding-top: 50px;*/
  text-align: center;
  color: #F6FCFB;
}

.work {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
}

.work > img {
  width: 60px;
  height: 60px;
}

.work > span {
  width: 130px;
  text-align: center;
  border: 1px;
  height: 20px;
  background-color: #F296A3;
  color: #F6FCFB;
  border-radius: 20px;
  padding: 10px;
}

.work > span > a {
  text-decoration: none;
  font-size: 20px;
  color: #F6FCFB;
}